body {
    margin: 0;
}
.nav-bar {
    width: 100%;
    height: 48px;
    background-color: #0078d7;
    display: flex;
}
.menu {
    width: 146px;
    height: 48px;  
    display: flex;
}

.nav-bar button {
    width: 48px;
    height: 42px;
    background-color: #0078d7;
    border: none;
    outline: none;
    cursor: pointer;
}
.icon-image{
    width: 22px;
    height: 22px;
}
.logo {
    width: 62px;
    height: 48px;
    padding: 13px;
}
.logo label {
    color: white;
    font-size: 16px;
}
.page {
    width: 651px;
    height: 680px;
}
.w-48 {
    width: 48px;
}
.sidebar{
    height: 620px;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #f4f4f4;
}

.toggle-width {
    width: 48px;
}
.toggle-width-open {
    width: 290px;
    background-color: #f4f4f4;
}
.createlist{
    width: 290px;
    display: flex;
    cursor: pointer;
}

.myday{
    width: 290px;
    height: 48px;
    cursor: pointer;
    display: flex;
}
.myday span p {
    padding-top: 14px;
}
.myday-button{
    width: 48px;
    height: 48px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    cursor: pointer;
}

.listcolor {
    color: #0078d7;
}
.list {
    padding: 10px 0 0 15px;
    display: flex;
}
.list p {
    padding: 0 0 0 18px;
}
.searchBox{
    margin: 0.5% 0% 0% 20.5%;
    width: 30%;
    height: 32px;
    padding: 0px;
    display: flex;
    background-color: #c3dcf7;
    border-radius: 2px;
}
.searchBox input{
    background-color: #777777;
    width: 90%;
    background-color: transparent;
    padding: 5px;
    border-width: 0px;
    border-style: none;
    margin-left: 0px;
    outline: none;
}
.searchBox input::placeholder{
    color: #0078d7;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}
.searchBox i{
    color: #0078d7;
    padding: 3px;
}
.searchBox:hover{
   background-color: #ffffff;
}
.left-navbar{
    margin-left: 306px;
    width: 192px;
    height: 48px;
    justify-content: flex-end;
}
.option-icon {
    height: 42px;
    width:20px;
    color:#ffffff;
}

.header-right-side-options i{
    color: white;
}

.question-image{
    width: 16px;
    height: 16px;
}

.step{
    width: 290px;
    height: 48px;
    cursor: pointer;
    display: flex;
}

.step input{
    width: 305px;
    height: 48px;
    border: none;
    outline: none;
    margin-top: 0px;
    background-color: #ffffff;
    padding-left: 14px;
}
.step input::placeholder{
    color: #0078d7;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}

.myday input{
    width: 240px;
    height: 48px;
    border: none;
    outline: none;
    margin-top: 0px;
    background-color: #f4f4f4;
}
.myday input::placeholder{
    color: #0078d7;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}
.mainpage{
    display: flex;
}
.centerpage p{
    color: #0078d7;
    font-size: 20px;  
}

.stepName {
    color: #0078d7;
    font-size: 20px;  
    background-color: #f4f4f4;
    margin: 10px 10px 10px 10px;
    display: flex;
}

.task-name {
    width: 286px;
    height: 45px;
    padding: 5px;
    border-width: 0px;
    border-style: none;
    margin-left: 0px;
    outline: none;
    background-color: #ffffff;
    color: #0078d7;
    font-size: 20.33px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}


.t-n-l{
    text-decoration: line-through;
}


div#editor {
    display: none;
 }
 .editor textarea{
    color: #0078d7;
    font-size: 20px;
    padding-left: 10px;
}
.sublist input {
    width: 240px;
    height: 48px;
    border: none;
    outline: none;
    margin-top: 0px;
    background-color: #ffffff;
}
.sublist input::placeholder{
    color: #0078d7;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}

.taskDetail {
    width: 360px;
    height: 624px;
    margin-left: 35%;
}

.finalDiv{
    margin-left: auto;
    float: right;
    height:100%;
    background-color:#f5f5f5;
    overflow-x: hidden;
    transition: 0.2s;
}

.w-0 {
    width: 0px;
}
.w-360 {
    width: 360px;
}

.nameTag {
    margin: 15px 15px 15px 15px;
    background-color: #ffffff;
    width: 339px;
    height: auto;
}

.taskButton{
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 22px;
}
.task{
    width: 290px;
    height: 48px;
    display: flex;
}

.task input{
    width: 240px;
    height: 48px;
    border: none;
    outline: none;
    margin-left: 24px;
    background-color: #ffffff;
}
.task input::placeholder{
    color: #0078d7;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}

.center-page input {
    width: 250px;
    height: 45px;
    padding: 5px;
    border-width: 0px;
    border-style: none;
    margin-left: 0px;
    outline: none;
    color: #0078d7;
    font-size: 20.33px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}

.notes{
    width: 339px;
    height: 86px;
    display: flex;
    margin: 15px 10px 10px 15px;
    background-color: #ffffff;
}

.notes input[type=text]{
    width: 332px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #ffffff;
}
.notes input[type=text]::placeholder{
    font-size: 13.33px;
    padding-left: 14px;
    font-weight: 400;
    line-height: 30px;
}

.steps input[type=text]{
    width: 238px;
    height: 42px;
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: #ffffff;
    text-decoration: none;
}
.steps input[type=text]::placeholder{
    color: grey;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}


.steps-line-through input[type=text]{
    width: 238px;
    height: 42px;
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: #ffffff;
    text-decoration: line-through;
}
.steps-line-through input[type=text]::placeholder{
    color: grey;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 30px;
}

.steps {
    padding-left: 18px;
}

.steps i {
    justify-content: flex-end;
}

.center-page-header {
    width: 948px;
    height: 48px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.share {
    width: 76.67px;
    height: 32px;
    display: flex;
    margin-top: 9px;
    padding: 0 0 0 0;
}

.share span p {
    padding-top: 5px;
    color: #0078d7;
}
.right-header {
    justify-content: flex-end;
    margin: 0 0 0 530px;
    display: flex;
}
.task-checkbox {
    margin-top: 20px;
}
.subtask-div{
    display: flex;
    width: 634px;
    height: 52px;
    margin-left: 23px;
    border-bottom: 1px solid #e5e5e5;
}
.taskText-div{
    margin: 0px 0 0 24px;
    width: 634px;
    height: 52px;
    padding-top: 15px;
    text-decoration: none;
}
.taskText-div-p{
    margin: 0px 0 0 24px;
    width: 634px;
    height: 52px;
    padding-top: 15px;
    text-decoration: line-through;
}
 
.check-Box {
    padding: 18px 0 0 8px;
    background-color: #ffffff;
    width: 24px;
}

.task-Name-Input {
    padding: 0px 0 0 0px;
}

.step-button{
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 14px;
}

.myday-added{
    width: 338px;
    height: 48px;
    cursor: pointer;
    display: flex;
    margin: 0 0 0 15px;
    background-color: #ffffff;
}
.myday-added span p {
    padding-top: 14px;
    padding-left: 10px;
    background-color: #ffffff;
}
.header-right-side-options{
    padding-top: 0px;
    width: 48px;
    cursor: pointer;
    text-align:center;
    height: inherit;
}

.name-icon{
    width:30px;
    height:30px;
    margin:10px 10px 10px 8px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #1EA301;
    color:#ffffff;
    border-radius: 50%;
    font-size:16px;
}
#name-icon{
    padding-top: 12px ;
}
.header-right-side{
    float: right;
    display: flex;
    margin-left: auto;
    flex-direction: row-reverse;
    width:25%;
    height:100%;
}
.remaind-me{
    width: 338px;
    height: 48px;
    cursor: pointer;
    display: flex;
    margin: 10px 15px 0px 15px;
    background-color: #ffffff;
}
.remaind-me span p {
    padding-top: 14px;
    padding-left: 10px;
    background-color: #ffffff;
}

.detailFooter {
    background-color: #f5f5f5;
    width: 359px;
    height: 39px;
    margin: 90px 0 0 15px;
    display: flex;
}
.deleteTask i{
    margin-left: 99px;
}
.deleteTask span {
    margin-left: 111px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-family: Segoe, Segoe UI, Arial,sans-serif;
    font-weight: 500px;
    text-decoration-style:solid;
    text-rendering:optimizelegibility;
}
.closeButton {
    width: 20px;
    height: 20px;
}
.steps-line-through {
    padding-left: 18px;
}